[
  {
    "ip-address": "10.13.37.11",
    "hw-address": "aa:bb:cc:dd:ee:ff",
    "hostname": "mysecrethostname"
  },
  {
    "ip-address": "10.13.37.12",
    "hw-address": "aa:bb:cc:dd:ee:fa",
    "hostname": "mysecrethostname-that-must-be-unique"
  },
]

